<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>User</title></head>
<body>

<h2>User Home</h2>

<p><b>First name:</b> <span th:text="${user.firstName}"></span></p>
<p><b>Last name:</b> <span th:text="${user.lastName}"></span></p>
<p><b>Email:</b> <span th:text="${user.email}"></span></p>

<form th:action="@{/logout}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    <button type="submit">Logout</button>
</form>

</body>
</html>